*.egg
*.egg-info/
*.log
*.manifest
*.py[cod]
*.spec
.coverage
.coverage.*
.env
.envrc
.mypy_cache/
.nox/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
.vscode/
__pycache__/
build/
dist/
env/
ENV/
env.bak/
htmlcov/
MANIFEST
pip-delete-this-directory.txt
pip-log.txt
venv/
venv.bak/
!.env.example
